- provide(:title, 'About Us')
%body
  %h1 About Us
  %p
  The website
  =link_to "ImagineWare", root_path
  is an application that will allow tutors to post courses on new technology
  and students will be able to learn and take tests
