<!DOCTYPE html>
<html>
<head>
  <title> Hospital Linked App | About </title>
</head>
<body>
<h1> About Us</h1>
<p>
The website <a href="http://hospital-link.herokuapp.com/">Hospital Linked</a>
is an application that will allow doctors and patients to communicate
more efficiently
</p>
</body>
</html>
