- provide(:title, 'About Us')
%body
  %h1 About Us
  %p
  The website
  =link_to "Hospital Linked", hospitals_path
  is an application that will allow doctors and patients to communicate more
  efficiently
