.center.hero-unit
  -#provide(:title, 'Home')
  %h1 Hospital Linked
  %h2
    This is the home page for the
    =link_to "Hospital Linked" , root_path
    
  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
= link_to image_tag("hospital.jpg"), hospitals_path
