.center.hero-unit
  -#provide(:title, 'Home')
  %h1 ImagineWare
  %h2
    This is the home page for the
    =link_to "ImagineWare" , root_path
    
  = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
= link_to image_tag("imagineware.jpg"), hospitals_path
