<!DOCTYPE html>
<html>
<head>
  <title> Hospital Linked App | Home</title>
</head>
<body>
<h1>Hospital Linked</h1>
<p>This is the home page for the 
<a href= "http://hospital-link.herokuapp.com/" >My Hospital app</a>
</p>
</body>
</html>
