!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello Mr #{@user.first_name} #{@user.last_name}
    %p
      You assignment for #{@course.title} just got graded
      please login to your account an see your grade and feedback.
      for ImagineWare
    %p Thank You!!
