!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello Admin
    %p
      Mr #{@user.first_name} #{@user.last_name} signed up as an instructor
      please login and approve his request if he is allowed to instruct, or deny his request if he is not allowed to instruct.
    %p Thanks !
