!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello Admin
    %p
      Mr #{@user.first_name} #{@user.last_name} would like to be an instructor
      to accept please click on 
      = link_to "Accept", accept_path(@user)
      to deny, please click on the following link
      =link_to "Deny", signup_instructors_deny_path(@user)
    %p Thanks for joining and have a great day!
