!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello Admin
    %p
      Mr #{@user.first_name} #{@user.last_name} signed up as an instructor
      please welcome him if he is allowed to instruct, otherwise the administrator will delete him.
    %p Thanks for joining and have a great day!
