!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello Mr #{@user.first_name} #{@user.last_name}
    %p
      You just got approved  as an instructor
      for ImagineWare
    %p Welcome!!
