%h2 Credit student's account
.row
  .span6.offset3
    = simple_form_for :credit, :url => {:action => :credit_account , :method => :put} do |f|
      %p= f.label :credit_points
      %p= f.text_field :credit_points
      %p= f.submit "Add credit", class: "btn btn-large btn-primary"
=debug(@param)
=debug(@cre)
