- provide(:title, 'All instructors')
%h2 All instructorss
%ul.instructors
  - @instructors.each do |instructor|
    %li
      //= gravatar_for student
      #{instructor.first_name} #{instructor.last_name}
      | #{link_to "delete", instructor, method: :delete}
= will_paginate @instructors
