- provide(:title, @user.first_name + @user.last_name)
.row
  %aside.span4
    %h1
      =gravatar_for @user
      =[@user.first_name, @user.last_name].reject(&:empty?).join(' ')
      -if current_user.instruc == false and current_user.admin == false
        %h6
        .content
          %p Total reward:#{Submission.where(:user_id => session[:current_user]).sum(:points)}
          %p
            Current credit:#{Credit.find_by_user_id(session[:current_user]).credit}

