- provide(:title, @user.first_name + @user.last_name)
.row
  %aside.span4
    %h1
      =gravatar_for @user
      =[@user.first_name, @user.last_name].reject(&:empty?).join(' ')
      -if current_user.instruc == false and current_user.admin == false
        %h6
          %p Total points 
          %p Current credit

