%h2 Edit Submission

=form_tag submission_path(@submission), :method => :put do

  =label :submission, :grade, 'Grade'
  = select  :submission, :grade, Course.all_grades

  =label :submission, :feedback, 'Feedback'
  =text_area :submission, 'feedback'

  =submit_tag 'Submit grade'
