- 
%h2 = "Your submission for #{Course(@submission.course_id).title}"
%ul#details
  %li
    Date Submitted:
    = @submission.time
  %li
    Grade:
    = @submission.grade
  %li
    Feedback:
    = @submission.feedback
