- 
%h2 Your submission for #{Course.find(@submission.course_id).title}
%ul#details
  %li
    Date Submitted:
    = @submission.created_at
  %li
    Grade:
    = @submission.grade
  %li
    Feedback:
    = @submission.feedback
-if current_user.instruc? or current_user.admin?
  =link_to 'update grade', edit_submission_path(@submission)
